<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Satyr Revy Documentation</Heading>
<Lead Margin="Margin.Is4.OnY">
	This webpage contains documentation for <Anchor To="https://www.satyr.dk" Target="Target.Blank">SaTyR</Anchor>.
</Lead>

<Alert Color="Color.Info" Visible>
	<h2>About</h2>
	<Paragraph>
		This is <strong>my</strong> own documentation I have created for <Anchor To="https://www.satyr.dk" Target="Target.Blank">SaTyR</Anchor>. The documentation comes in two parts:
		<UnorderedList>
			<UnorderedListItem><code>.pdf</code> files which contain the full documentation which is up-to-date</UnorderedListItem>
			<UnorderedListItem><code>.html</code> formatted webpages which contain some of the documentation. These are not guaranteed to be up-to-date.</UnorderedListItem>
		</UnorderedList>
	</Paragraph>
	<Paragraph>
		The <code>.pdf</code>'s is downloadable. A small preview of the documentation will also be added in the future. These documents will either be in danish, english or both. All documents will clearly be labeled which language they are in with the end name <code>&lt;name&gt;-&lt;LANGUAGE_ENCODING&gt;.pdf</code>
	</Paragraph>
	<Paragraph>
		The <code>.html</code> webpages will contain only the most useful of the data from the documentation. They will be built from the <code>.pdf</code> documentation <i>but be stripped down</i>. The can be accessed directly from the side-panel but they may not all be there because we may use <em>non-tagged</em> pages to maintain a decluttered webpage.
	</Paragraph>
</Alert>



