<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define targets -->
  <targets>
    <!-- Log to a file -->
    <target xsi:type="File" name="logfile"
      filename="/var/log/website/LOG-${shortdate}.txt"
      layout="${level:uppercase=true:padding=5} : |${longdate}| ${message}"
      overwrite="true"
      createDirs="true" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- All messages with a minimum log level of Debug or higher are written to the Console -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>

</nlog>
