@page "/about"

<h1>About this website</h1>

<Lead Margin="Margin.Is4.OnY">
    Welcome to Nickgismokato's own website. This website is made and maintained by me; Nickgismokato. It contains data which may be useful for some people within SaTyR, it contains a webservice useful for the guild NewReunion and it contains a Warframe app which may be useful for others but essentially is created because the annoyance created by the wiki of Warframe.
</Lead>


<h2>How to navigate this website</h2>

The navigation of this menu can be done in two ways:

<Alert Color="Color.Info" Visible>
    <Paragraph>
        <h3>Side menu</h3>
        <p>The side menu contains the following:</p>
        <UnorderedList>
            <UnorderedListItem><b>Dashboard:</b> This is the main page of <code>nickgismokato.com</code></UnorderedListItem>
            <UnorderedListItem><b>About me:</b> This is the about me section. <b>Note!</b> This is not the about section which you currently is on.</UnorderedListItem>
            <UnorderedListItem><b>Pages:</b>This is a random assortment of testing pages used in the development of <code>nickgismokato.com</code></UnorderedListItem>
            <UnorderedListItem><b>Docs:</b> This is the documentation for both this website but other services. Furthermore the Docs page contain the SaTyR documentation of the sound setup within SaTyR revy.</UnorderedListItem>
            <UnorderedListItem><b>Apps:</b> This is the main attraction to this website. In here we have the collection of WebApps I have created. Some may be deprecated and not maintained anymore but they should still be there with a warning. Inside you can find the <em>ReunionLog</em> webservice which is a GraphQL service to <Anchor To="https://warcraftlogs.com" Target="Target.Blank">WarcraftLogs</Anchor>. It is also on <b>Apps</b> you will find the <em>Warframe</em> application which is just a database for items within Warframe.</UnorderedListItem>
            <UnorderedListItem><b>About:</b> This is the website which you currently is on. This website will contain the information about this website. Such as License, Navigation, Purpose and so on.</UnorderedListItem>
        </UnorderedList>
    </Paragraph>
</Alert>
<Alert Color="Color.Info" Visible>
    <Paragraph>
        <h3>Manual navigating</h3>
        <p>To manually navigate this website, one can just plug in the link. For example, to get to this page one can just write <Anchor To="https://nickgismokato.com/about" Target="Target.Blank">nickgismokato.com/about</Anchor> and you will land on this very page you are on now. Read further bellow for a list of subsites within <em>nickgismokato.com</em></p>
    </Paragraph>
</Alert>

<h3>License</h3>

<Paragraph><b>nickgismokato.com:</b>This website is under a MIT License. All Software/Webservices/Documentation on this website may be ran under a different License. Read bellow for individual license agreements.</Paragraph>



<h3>Purpose</h3>

<Paragraph>The purpose of this website is 2 reasons. <UnorderedList><UnorderedListItem>Testing</UnorderedListItem><UnorderedListItem>Easier distribution of Docs/WebApps</UnorderedListItem></UnorderedList></Paragraph>

<Paragraph><b>Testing</b> means it is just a playground for me to test different web-based development software. The beginning of this website started as an idea of how <code>C#</code>-based websites would be to develop for. Before I had only used pure <code>JS, HTML, CSS</code> type websites.</Paragraph>

<Paragraph><b>Distribution</b> means exactly as it sound. One problem I have with many of the softwares/documentation I have developed over the years, is the access people can have to it. If I for example developed a <code>Python</code> program to collect certain data from a <code>.csv</code> file and then create a new <code>.csv</code> file, then I would manually have to give them the program and make sure they can run it. Furthermore for all updates I would need to repeat this. This isn't the most optimal way and therefore a web solution is much better for both parties.</Paragraph>

<Paragraph>This website is a non-profit website. No adds will be displayed and only necessary data will be collected for the specific webservices which the user have confirmed before they send the data. Furthermore only web-traffic will be automatically collected to make sure <b>nickgismokato.com</b> run optimally. No specific user data but only IP connections and their bandwidth usage will be collected</Paragraph>