@page "/about_me"

<h1>About Me</h1>

<Paragraph>This is a short section about me, who i am and what works I have done. This is for future references.</Paragraph>

<Alert Color="Color.Info" Visible>
	<h2>
		Information:
	</h2>
	<Paragraph>
		<UnorderedList>
			<UnorderedListItem>Language: Danish, English</UnorderedListItem>
			<UnorderedListItem>Age: 28</UnorderedListItem>
			<UnorderedListItem>Gender: Male (<i>He/Him</i>)</UnorderedListItem>
			<UnorderedListItem>Software Developer</UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem>BackEnd</UnorderedListItem>
				<UnorderedListItem>FrontEnd</UnorderedListItem>
				<UnorderedListItem>Hardware/Engine Development</UnorderedListItem>
				<UnorderedListItem>Networking Development</UnorderedListItem>
				<UnorderedListItem>Web Development</UnorderedListItem>
				<UnorderedListItem>Linux Maintainer</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem>BSc, Computer Science</UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem>Specialty: Algorithm Complexity, Numerical Analysis, Topology, Computer Systems, Linux Development</UnorderedListItem>
				<UnorderedList>Previous BSc in Mathematics</UnorderedList>
			</UnorderedList>
			<UnorderedListItem>Musician/Sound Engineer</UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem>Drummer for 15+ years</UnorderedListItem>
				<UnorderedListItem>Freelance Sound Engineer (<i>Live</i>) for 11+ years</UnorderedListItem>
				<UnorderedListItem>Recoding Engineer for 8+ years</UnorderedListItem>
				<UnorderedListItem>Freelance Music producer for 2+ years</UnorderedListItem>
			</UnorderedList>

		</UnorderedList>
	</Paragraph>
</Alert>



<Alert Color="Color.Info" Visible>
	<h2>
		Programming Languages and their frameworks:
	</h2>
	<Paragraph>
		<UnorderedList>
			<UnorderedListItem><code>C/C++</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Compiler:</b> <code>c99+</code></UnorderedListItem>
				<UnorderedListItem><code>Raylib</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>C#</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><code>.NET</code> <b>Version:</b> <code>6.0, 7.0, 8.0</code></UnorderedListItem>
				<UnorderedListItem><code>MonoGame</code></UnorderedListItem>
				<UnorderedListItem><code>Blazorise</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>Java</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>14, 15, 17</code></UnorderedListItem>
				<UnorderedListItem><code>Maven 3.6+</code></UnorderedListItem>
				<UnorderedListItem><code>Vaadin 14+</code></UnorderedListItem>
				<UnorderedListItem><code>Spring frameworks 5.2+</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>Python</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>2+, 3+</code></UnorderedListItem>
				<UnorderedListItem><code>Flask</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>Go</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>1.16+</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>R</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>3.3+</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>Haskell</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>7.8+</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><code>TeX, LaTeX</code></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Version:</b> <code>2014+</code></UnorderedListItem>
			</UnorderedList>
		</UnorderedList>
	</Paragraph>
	<h2>
		Development Environment:
	</h2>
	<Paragraph>
		<UnorderedList>
			<UnorderedListItem><b>OS:</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><code>Debian 12+</code></UnorderedListItem>
				<UnorderedListItem><code>Windows 10</code></UnorderedListItem>
				<UnorderedListItem><code>Ubuntu Server 22.04+</code></UnorderedListItem>
				<UnorderedListItem><code>ArchLinux</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>Container Tools:</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><code>podman 3+</code></UnorderedListItem>
				<UnorderedListItem><code>podman-compose LTS</code></UnorderedListItem>
				<UnorderedListItem><code>Dockerfile</code></UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>Pipelines Tools:</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><code>CMake, Make, JMake</code></UnorderedListItem>
				<UnorderedListItem><code>Jenkins</code></UnorderedListItem>
				<UnorderedListItem>Custom</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>Software/DAWs Tools:</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><code>VSCode</code></UnorderedListItem>
				<UnorderedListItem><code>VS Studio 22+</code></UnorderedListItem>
				<UnorderedListItem><code>vim</code></UnorderedListItem>
				<UnorderedListItem><code>Reaper 17+</code></UnorderedListItem>
				<UnorderedListItem><code>Pycharm</code></UnorderedListItem>
			</UnorderedList>
		</UnorderedList>
	</Paragraph>
</Alert>


<Alert Color="Color.Info" Visible>
	<h2>
		Projects I have worked on:
	</h2>
	<Paragraph>
		
		<UnorderedList>
			<UnorderedListItem><b>ReunionLog</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Programming Languages:</b> <code>Python</code>, <code>C#</code></UnorderedListItem>
				<UnorderedListItem><b>Where:</b> <Anchor To="https://github.com/nickgismokato/ReunionLog" Target="Target.Blank">Github</Anchor>, Here on this website</UnorderedListItem>
				<UnorderedListItem><b>Info:</b> The program is used to retrieve data from <Anchor To="https://warcraftlog.com" Target="Target.Blank">WarcraftLog</Anchor> and then organize the data in a <code>.csv</code> file. This is used to check which person have died the most and to what mechanic. How they are using it behinds raids, I wouldn't know since I'm not affiliated to their raiding. The raiding is done in World of Warcraft.</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>DocTools</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Programming Languages:</b> <code>Java 14, 17</code></UnorderedListItem>
				<UnorderedListItem><b>Frameworks:</b> <code>Maven 3.6.4, 3.8.3</code>, <code>Vaadin 14, 24</code>, <code>SpringFramework 2.3, 3.x</code></UnorderedListItem>
				<UnorderedListItem><b>Setup:</b> <code>Podman 3+</code>, <code>Dockerfile</code>, <code>Ubuntu Server 22.04</code></UnorderedListItem>
				<UnorderedListItem><b>Where:</b> The link is private since this is done for an enterprise in Denmark, which I work for.</UnorderedListItem>
				<UnorderedListItem><b>Info:</b> The program is a webservice which update packages for services within the enterprise. This is done by updating the relational database (<i>rdb</i>). So is essence this webservice is just there to check status on different projects and also updating their documentation. This is all done within the localized network of the enterprise.</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>Satyr Planner</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Programming Languages:</b> <code>Python</code></UnorderedListItem>
				<UnorderedListItem><b>Where:</b> Not published yet.</UnorderedListItem>
				<UnorderedListItem><b>Info:</b> This is a program to make a "<i>clever</i>" schedule of the practice days of the revue. The data comes in <code>.csv</code> files which contains who will be there, which room have we rented/borrowed, where the band will be and wether or not it is a sketch or song that will need practice. There is also a scale which help the program create a hierarchy of needs within the practice schedule. There haven't been and never will be used AI for this project.</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem><b>nickgismokato.com</b></UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Programming Languages:</b> <code>C# .NET8.0</code></UnorderedListItem>
				<UnorderedListItem><b>Frameworks:</b> <code>Blazorise</code></UnorderedListItem>
				<UnorderedListItem><b>Setup:</b> <code>Debian Minimal 12+</code></UnorderedListItem>
				<UnorderedListItem><b>Where:</b> Here! The website will also be open sourced at some point since it will contain no user data.</UnorderedListItem>
				<UnorderedListItem><b>Info:</b> This website is a personal project which will be used to update my projects and to help any potential future employer to check though my qualifications. The website will also be running some of my own apps which I either maintain/have created for others or my own apps which i use on a daily/weekly basis.</UnorderedListItem>
			</UnorderedList>
			<UnorderedListItem>WarframeAPI</UnorderedListItem>
			<UnorderedList>
				<UnorderedListItem><b>Programming Languages:</b> <code>C# .NET8.0</code></UnorderedListItem>
				<UnorderedListItem><b>Frameworks:</b> <code>Blazorise</code></UnorderedListItem>
				<UnorderedListItem><b>Setup:</b> <code>Debian Minimal 12+</code></UnorderedListItem>
				<UnorderedListItem><b>Where:</b> Here! The website will also be open sourced at some point since it will contain no user data.</UnorderedListItem>
				<UnorderedListItem><b>NOTE:</b> This could potentially run in a CLI and no website will be needed. I just use it since I can then view the data everywhere.</UnorderedListItem>
				<UnorderedListItem><b>Info:</b> This is a WebApp on my website. This is a app than updates the data from Warframe of specific items, frames, arcanes and so on. Here you could easily find data about Warframe in a list formatted query. The data is provided by <Anchor To="https://docs.warframestat.us/" Target="Target.Blank">WarframeStat</Anchor>. This is a webscrapper data provider webservice which I use the <code>.json</code> files on and from there make my own target API. If the data isn't totally up-to-date, either my code is shit or the api just hasn't updated yet.</UnorderedListItem>
			</UnorderedList>
		</UnorderedList>
	</Paragraph>
</Alert>
