@page "/faq"
<h1>Frequently asked question</h1>

<Accordion>
    <AccordionItem @bind-Visible="@accordionItem1Visible">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>Why does this website has a licencse?</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            This website is an open source project to do the following:
			<Alert Color="Color.Info" Visible>
				<UnorderedList>
					<UnorderedListItem>Act as a personnal webpage for the developer</UnorderedListItem>
					<UnorderedListItem>Act as a inspiration for future <code>.NET8.0 WASM Blazor</code> developers</UnorderedListItem>
					<UnorderedListItem>Act as a public service for certain webapplications.</UnorderedListItem>
				</UnorderedList>
			</Alert>
			So in short, since this webpage is public on a <code>Github</code> repository, I do in fact need a licence.
        </AccordionBody>
    </AccordionItem>
    <AccordionItem @bind-Visible="@accordionItem2Visible">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>What custom software has been used on this webpage?</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            No custom software has been used on this webpage. Going to the <code>github</code> repository and looking at the two <code>.csproj</code> files and the <code>.sln</code> solution file, one will find everything is running nativly with <code>.NET8.0</code> and <code>Blazor</code> using <code>Blazorise</code>.

			The only custom in this webpage is certain arts, created by the developer <b>Nickgismokato</b> and the coding itself.
        </AccordionBody>
    </AccordionItem>
    <AccordionItem @bind-Visible="@accordionItem3Visible">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>Can the server side of this webpage run on <code>Windows</code> or is it exclusively a <code>GNU+Linux</code> server.</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            This webpage, both the client and the server, was made using pure <code>.NET CLI</code> commands. No <code>Visual Studio</code> was using in the development. Furthermore only <code>VSCode</code> and <code>Vim</code> was used for development. So you can develop this website on any platform of your liking. Wether or not it will run on those platforms has not been tested. <code>Debian 12</code> and <code>WSL Ubuntu 24.04</code> has been used in the development. I have found problems running the webpage on the <code>WSL</code> Windows subsystem.
        </AccordionBody>
    </AccordionItem>
</Accordion>

<Child />

@code {
    bool accordionItem1Visible = false;
    bool accordionItem2Visible = false;
    bool accordionItem3Visible = false;
}